<h1 class="font-bold">All Sales</h1>

<input
  type="text"
  class="form-control bg-white p-2 w-1/2 font-Poppins"
  placeholder="Search Sales By Title"
  [(ngModel)]="searchTerm"
  (input)="searchSales()"
/>

<br />

<div class="container bg-green bg-opacity-15 font-Poppins">
  <div class="cards-container flex flex-wrap justify-around">
    <div class="col-span-1" *ngFor="let sale of sales">
      <div class="card">
        <h5 class="card-title">{{ sale.title }}</h5>
        <img
          class="card-img-top"
          [src]="sale.firstItemUrl"
          alt="First item image"
        />
        <div class="card-body">
          <p class="card-text">{{ sale.description }}</p>
          <a href="/sale/{{ sale._id }}" mat-raised-button color="warn"
            >View Sale</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
