<mat-toolbar color="warn" class="font-Poppins poppins">
  <mat-toolbar-row class="flex justify-between">
    <span class="flex items-center">
      <span><a href="/">MarketSpace</a></span>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-white ml-1" viewBox="0 0 448 512">
        <path
          d="M0 80V229.5c0 17 6.7 33.3 18.7 45.3l176 176c25 25 65.5 25 90.5 0L418.7 317.3c25-25 25-65.5 0-90.5l-176-176c-12-12-28.3-18.7-45.3-18.7H48C21.5 32 0 53.5 0 80zm112 32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
      </svg>
    </span>

    <span class="w-1/2 text-center hidden md:block">
      <input matInput placeholder="Search for a sale" class="w-1/2 p-2 text-sm rounded-md" />
      <button mat-button class="ml-2 hover-effect">Search</button>
    </span>

    <span class="flex items-center">
      <a *ngIf="isLoggedIn" mat-button routerLink="/create" class="ml-2">Create A Sale</a>
      <span *ngIf="isLoggedIn"> | </span>
      <a href="/sales" mat-button class="sales-style hover-effect">Find a Sale</a> |
      <a *ngIf="!isLoggedIn" mat-button routerLink="/login" class="login-style hover-effect">Login</a>
      <a *ngIf="isLoggedIn" mat-button (click)="logout()" class="logout-style hover-effect">Logout</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
