.poppins {
  font-family: "Poppins", sans-serif;
}
.login-style {
  text-decoration: underline;

}
.logout-style {
  text-decoration: underline;

}
.sales-style {
  text-decoration: underline;

}
.hover-effect {
  transition: transform 0.3s ease-in-out;
}

.hover-effect:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
