<form [formGroup]="createSaleForm" (ngSubmit)="onSubmit()">
  <mat-card class="font-Poppins m-4 p-2">
    <mat-card-header class="rounded-md bg-green w-full bg-opacity-25">
      <mat-card-title>
        <h1 class="pl-4">Create a sale</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content class="p-3 mt-4">
      <div class="w-1/2 float-start">
        <input formControlName="title" class="border-2 p-2 w-full mt-2" placeholder="Sale Title" required>
        <input formControlName="description" class="border-2 p-2 w-full h-40 mt-2" placeholder="Description" required>
        <input formControlName="date" class="border-2 p-2 w-full mt-2" placeholder="Date" required>
        <input formControlName="address" class="border-2 p-2 w-full mt-2" placeholder="Address" required>
      </div>

      <div class="w-1/2 float-end">







        <button type="button" (click)="openDialog()" mat-raised-button color="warn" class="mt-4 add-item-button">Add
          Item</button>
      </div>
    </mat-card-content>

    <mat-card-header class="w-100 mx-auto mt-4">Items</mat-card-header>
    <mat-divider></mat-divider>

    <div class="flex flex-wrap justify-center -mx-4">
      <div *ngFor="let item of saleItems.controls" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-4 mb-8">
        <div class="bg-white rounded-lg shadow-md p-4">
          <h3 class="text-lg font-medium mb-2">{{ item.value.name }}</h3>
          <p class="text-sm text-gray-600 mb-4">{{ item.value.description }}</p>
          <img class="object-cover w-full h-48" [src]="item.value.photo" alt="">
          <div class="w-3/4 mx-auto">
            <button type="button" (click)="removeItem(i)" mat-raised-button color="warn"
              class="mt-4 add-item-button w-1/2 remove-button">Remove</button>
          </div>
        </div>
      </div>

    </div>


    <div class="submit-button">
      <button type="submit" mat-raised-button color="warn" class="mt-4">Create Sale</button>
    </div>
  </mat-card>
</form>
