<div class="container">
  <mat-card class="p-10">
    <h1 class="text-center pt-4">MarketSpace</h1>
    <p class="text-center font-Poppins">Find estate sales, tag sales, auctions, moving sales, and other types of
      estate
      liquidations.</p>
    <div class="d-flex justify-content-center w-100 mx-auto form-div mt-4">
      <input matInput placeholder="Search for sales" class="border-2 rounded-md p-1 w-100 text-center">
      <button mat-raised-button color="warn" class="ml-2">Search</button>
    </div>
  </mat-card>
</div>


<div class="w-100 p-2 text-center pb-6 font-Poppins">
  <h1 class="p-4 w-100 bg-green rounded-t-md shadow-lg">Recently posted sales:</h1>
  <mat-card *ngFor="let sale of sales" class="w-1/4 m-2 shadow-black shadow-md">
    <h3 class="pt-2">{{sale.title}}</h3>
    <div>
      <img src="{{ sale.image }}">
    </div>
    <p>{{sale.description}}</p>
    <p>{{sale.date | date}}</p>
    <a href="/sale" mat-raised-button color="warn">View</a>
  </mat-card>
</div>

<div class="bg-red h-10">
  <p class="text-center pt-2">MarketSpace &copy; 2024</p>
</div>
