<mat-card class="w-full pt-4 flex justify-center align-middle text-center edit-form">
  <form [formGroup]="editSaleForm" class="flex justify-center align-middle w-100 mx-auto flex-col w-full">
    <mat-card-title class="w-100 mx-auto bg-green p-2 bg-opacity-15 title-center">{{editedSale.title}}</mat-card-title>
    <mat-card-content class="pt-2">
      <label for="description" class="text-left">Description</label>
      <input formControlName="description" class="border-2 p-2 w-full h-40 mt-2" [placeholder]="editedSale.description"
        required>
      <label for="date" class="text-left">Date</label>
      <input formControlName="date" class="border-2 p-2 w-full mt-2" [placeholder]="editedSale.date" required>
      <label for="address" class="text-left">Address</label>
      <input formControlName="address" class="border-2 p-2 w-full mt-2" [placeholder]="editedSale.address" required>


      <h2 class="text-center pt-3">Items</h2>
      <div formArrayName="items" class="grid grid-cols-2">
        <div *ngFor="let item of itemControls; let i = index">
          <mat-card class="w-1/2 mx-auto">
            <!-- Item Details -->
            <div class="item-details">
              <!-- Item Name -->
              <p>{{ item.value.name }}</p>
              <!-- Item Description -->
              <p>{{ item.value.description }}</p>
              <!-- Item Image -->
              <img [src]="item.value.imageUrl" alt="Item Image">
            </div>

            <!-- Remove Item Button -->
            <button mat-raised-button color="warn" class="w-full" (click)="removeItem(i)">Delete</button>

          </mat-card>
        </div>
      </div>


      <mat-divider></mat-divider>
      <button type="submit" mat-raised-button color="warn" (click)="onSave()" class="mt-4">Save</button>
    </mat-card-content>
  </form>
</mat-card>